$background: #fff;
$green: #90ca55;

$light-gray: #a4b2a5;
$dark-gray: #67675e;



$light-blue: #1daadd;
$dark-blue:  #088da9;
$highlight: transparentize($light-blue, .2);

$teal: #293e41;
$yellow: #eeec78;

$text-color: #111;
$parallax-text: #fff;
$nav-text: #303e48;